#selector-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 20px;
  right: 30px;
}
.option {
  border: 1px solid rgb(66, 57, 26);
  padding: 2px 6px 2px 6px;
  background-color: rgb(241, 198, 56);
}
.selected {
  color: black;
  text-shadow: 0 0 8px white;
  border: 1px solid rgb(255, 255, 255);
}
.unselected {
  color: rgb(66, 66, 66);
}
.unselected:hover {
  color: rgb(0, 0, 0);
  transform: scale(102%);
}
