#selector-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 1vh;
  right: 1vw;
}
.option {
  border: 1px solid rgb(82, 70, 28);
  padding: 2px 6px 2px 6px;
  background-color: rgb(234, 208, 50);
}
.selected {
  color: black;
  text-shadow: 0 0 8px white;
  border: 1px solid rgb(255, 255, 255);
}
.unselected {
  color: rgb(66, 66, 66);
}
.unselected:hover {
  color: rgb(0, 0, 0);
  transform: scale(102%);
}
@media (max-width: 1024px) {
  #selector-container {
    transform: scale(80%);
    right: 1px;
  }
}
