#nav-spacer {
  margin-left: 100px;
}

body {
  background-color: rgb(37, 57, 87);
  font-family: 'Roboto Mono', monospace;
  font-weight: 800;
  font-size: large;
}
.header {
  margin: 1vw;
}
.tags {
  font-family: 'Reenie Beanie', cursive;
  font-weight: 100;
  color: rgb(241, 198, 56);
}
.indent {
  margin-left: 2vw;
}
