.slider-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  min-height: 90vh;
}
#outter-slider-wrapper {
  display: inline block;
  min-height: 90vh;
}
.content {
  max-width: 40vw;
}
.cellphone {
  max-width: 10.5vw;
  margin-top: -52%;
  margin-right: -5%;
}
.text-container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  max-width: 40vw;
}

.moving-part {
  position: relative;
  transform: translateX(150px);
  opacity: 0;
  transition: 1s all ease;
}
.active {
  position: relative;
  transform: translateX(0);
  opacity: 1;
}

.inactive {
  position: relative;
  transform: translateX(-150px);
  opacity: 0;
}

.screen-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
a {
  text-decoration: none;
}
@media (max-width: 1024px) {
  .slider-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 30vh;
  }
  .content {
    max-width: 70vw;
    margin-left: 10vw;
  }
  .cellphone {
    max-width: 20vw;
    margin-top: -45%;
    margin-right: -5%;
  }
  .text-container {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    max-width: 80vw;
  }
  .screen-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
