.slider-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height: 90vh;
}
.moving-part {
  position: relative;
  transform: translateX(150px);
  opacity: 0;
  transition: 1s all ease;
}
.active {
  position: relative;
  transform: translateX(0);
  opacity: 1;
}

.inactive {
  position: relative;
  transform: translateX(-150px);
  opacity: 0;
}
.text-container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  max-width: 40vw;
}
.screen-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* @media only screen and (min-width: 1280px) { */
.content {
  max-width: 40vw;
}
/* } */
.cellphone {
  max-width: 10.5vw;
  margin-top: -52%;
  margin-right: -5%;
}
